@page "/form"
@using BlazorApp.Data
@using System.Text
@inject EmployeeService EmployeeService

<EditForm Model="@employee" OnValidSubmit="@HandleValidSubmit">
  <DataAnnotationsValidator />
  <ValidationSummary />
  <div>
    <p>
      <label>
        Name:
        <InputText id="name" @bind-Value="employee.FirstName" />
      </label>
    </p>
    <p>
      <label>
        Vorname:
        <InputText id="lastName" @bind-Value="employee.LastName" />
      </label>
    </p>
    <p>
      <label>
        Eintrittsdatum:
        <InputDate id="entryDate" @bind-Value="employee.EntryDate" />
      </label>
    </p>
    <p>
      <label>
        Abteilung:
        <InputText id="department" @bind-Value="employee.Department" />
      </label>
    </p>
    <p>
      <label>
        Aufgaben:
        <InputText id="task" @bind-Value="employee.Tasks" />
      </label>
    </p>
    <p style="justify-content: space-evenly; display: flex;">
      <InputSelect @bind-Value="task">
        <option value=""></option>
        @foreach (var task in Tasks)
        {
          <option value="@task">@task</option>
        }
      </InputSelect>
      <button class="btn-success" @onclick="(()=> AddTask())">ADD</button>
    </p>
  </div>

  <div style="justify-content: space-evenly; display: flex;">
    <button class="btn-danger" @onclick="onCancel">Abbrechen</button>
    <button class="btn-success" type="submit">Speichem</button>
  </div>

</EditForm>

@code {
  [Parameter] public Employee employee { get; set; }

  [Parameter] public List<string> Tasks { get; set; }

  [Parameter] public EventCallback onSaveEmployee { get; set; }

  [Parameter] public EventCallback onCancel { get; set; }

  private static char delim = ',';


  string task = string.Empty;

  async void HandleValidSubmit()
  {
    EmployeeService.AddOrUpdateEmployee(employee);
    await onSaveEmployee.InvokeAsync();
  }

  public void AddTask()
  {
    StringBuilder sb = new StringBuilder();
    var tasks = employee.Tasks.Split(delim).ToList();
    tasks.ForEach(x =>
    {
      if (x.ToLower() != task.ToLower())
      {
        if (sb.Length > 0)
        {
          sb.Append(delim);
        }
        sb.Append(task);
      }
    });
  }
}