@page "/"
@using BlazorApp.Data
@using System.Xml.Linq

<div style="display:inline-flex ;width: 60%;margin:15px">
  <FetchData @ref="fetchData" OnSelectEmployee="OnSelectEmployee" />
</div>

@if (showForm)
{
  <div style="display:inline-flex ;margin:15px">
    <Form employee="employee" Tasks="Tasks" onCancel="onCancel" onSaveEmployee="OnSaveEmployee" />
  </div>
}


@code {
  bool showForm = false;
  bool refresh = false;

  Employee employee = new Employee();
  FetchData fetchData;

  List<string> Tasks = new List<string>();

  protected override void OnInitialized()
  {
    XDocument doc = XDocument.Load("Tasks.xml");
    Tasks = doc.Root.Elements("task").Select(x => x.Value).ToList();
  }

  void OnSelectEmployee(Employee e)
  {
    employee = e;
    showForm = true;
  }

  void onCancel()
  {
    showForm = false;
    employee = new Employee();
  }

  void OnSaveEmployee()
  {
    showForm = false;
    employee = new Employee();
    fetchData.GetEmployees();
  }
}